extends layout

block content
  div(id="home")
    img(src="data/logo.png", width="100%")
    h1 home
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
  div(id="about")
    h1 ABOUT
    br
    br
    br
    br
    br
    br
    br
    br
    br
  div(id="contact")
    br
    h1 CONTACT
    br
    br
    br
    br
    br
    br
    br
    br
    br
    
  
