doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  body 
    header 
      nav(class = "navbar navbar-fixed-top") 
        ul 
          li 
            a(href="#home") Home
          li 
            a(href="#about") About
          li 
            a(href="#contact") Contact
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p Created by <br />Bahari Hasjim<br />Ori Gilad
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
